@import "./src/assets/scss/variables";

.feed {
  position: relative;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 20px 15px;

  .delete-button {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    background-color: $primary-color;
    color: $body-color;
    border: none;
    transition: all 0.3s;
    
    &:hover {
      background-color: $dark-gray;
      color: $body-color;
    }
  }
  

  img {
    width: 100%;
  }
}
