/** GENERAL STYLE **/
html, body {
  margin: 0;
  padding: 0;
  background-color: $body-color;
}

.dark-mode {
  background-color: black;

  .sidebar {
    background-color: $sidebar-dark-mode-color;
  }

  .content-container {
    background-color: $sidebar-dark-mode-color;

    .form-control {
      background-color: $feed-dark-mode-color;
      border-color: rgba($body-color, 0.3);
      color: white;
    }
    .grid-icon{
      color:white;
    }
  }

  .feed {
    background-color: $feed-dark-mode-color;

    .delete-button {
      color: white;
      background-color: $delete-dark-mode-color;
      border-radius: 30px;
    }

    .feed-dark {
      color: white;
    }
  }

  .app-header {
    background-color: black;
    border-bottom: 1px solid rgba($body-color, 0.2);
  }
  .app-footer{
    background-color: black;
    border-top: 1px solid rgba($body-color, 0.2);
  }
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


.app-logo {
  width: auto;
  height: 50px;
  padding: 5px;
}
