

// Colors
$body-color: #f5f5f1;
$primary-color: #2b81af;
$light-gray: #eee;
$gray: #ddd;
$dark-gray: #909090;

$feed-dark-mode-color: #121212;
$sidebar-dark-mode-color: #262626;
$delete-dark-mode-color: #404040;
$like-button-border: #bbb;
$like-button: #3b5998;
$heart-button: red;

// Sizes
$header-height: 50px;
$sidebar-width: 250px;
$footer-height: 100px;





