.search-form{
  margin-top: 5px;

  .MuiFilledInput-root{
    background-color: rgba(255, 250, 250, 0.5);
    &:hover{
      background-color: rgba(255, 250, 250, 1);
    }
  }
  .MuiFilledInput-input{
    height: 3px;
  }

  .MuiInputLabel-formControl{
    top: -7px;
  }

  .MuiIconButton-root{
    position: relative;
    bottom: 5px;
    right: 45px;
  }
}