//import "./src/assets/scss/variables";

.row {
  position: relative;



  .order-list{
    // position: relative;
    // right: 15px;
  }

  .friend {
    height: 25px;
    width: 25px;
    margin-left :35px ;
  }
  .messenger {
    height: 25px;
    width: 25px;
  }
}