@import "./src/assets/scss/variables";

    .button-container{
        display: flex;
        flex-direction: row;
        .like-button {
            display: inline-block;
            height: 38px;
            // width: 85px;
            padding: 0 30px;
            margin: 15px 15px 0 0;
            text-align: center;
            font-size: 11px;
            font-weight: 600;
            line-height: 38px;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            border-radius: 6px;
            border: 1px solid $like-button-border;
            box-sizing: border-box;
            letter-spacing: 1px;
            cursor: pointer;
            &:focus{
                outline: 0;
            }

            i{
                padding-right: 10px;
                color: $like-button;
                text-decoration: none;
                text-align: center;
            }
            .fa-heart{
                color: $heart-button;
            }
        }
    }