@import "./src/assets/scss/variables";
.previewComponent{
    position: relative;
 img {
     width: 100%;
     max-height: 350px;
 }
 .upload-cover{
    position: absolute;
    top:30px;
    left:30px;

}
.fileInput {
    display: none;
}
.upload-icon{
    cursor: pointer;
    font-size: 2rem;
    color: $body-color;
    background-color:rgba(0,0,0,0.45);
    padding: 5px
}
.picture-profile{
    position: absolute;
    bottom: -30px;
    left: 30px;
    &:hover .upload-profile-picture {
        display: block;
    }
    img{
        width: 200px;
        height: 200px;
        border: 3px solid $body-color;
        border-radius: 50%;
    }
 .upload-profile-picture{
     position: absolute;
     bottom: 30px;
     transform: translateX(-50%);
     left: 50%;
     display: none;
 }
}
}
