@import '../../../assets/scss/variables';
.comments-content {

  span {
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
  }
  
  .comments {
    margin-top: 20px;
    display: none;
    
    &.visible {
      display: block;
    }
  }
  
  .p-3 {
    
    &.icon-button {
      cursor: pointer;
      margin-top: 20px;
      font-size: 2rem;
      line-height: 1;
      background-color: $light-gray;
      transition: all 0.3s;
      padding-top: 0.2rem!important;
      padding-bottom: 0.5rem!important;
    }
    
    &:hover {
      background-color: $primary-color;
      color: $light-gray;
    }
  }
}

.dark-mode {

  .comments-content {

    .p-3 {

      &.icon-button {
        background-color: $dark-gray;
      }

      &:hover {
        background-color: $primary-color;
        color: $light-gray;
      }
    }
  }
}
