@import '../../../assets/scss/variables';

.comment {
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.3;
  border-bottom: 1px solid $light-gray;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }

  .author {
    display: inline-block;
    font-weight: bold;
  }

  .post-date {
    display: inline-block;
    padding: 5px 0 5px 15px;
    font-size: 12px;
    color: $dark-gray;
  }

  .text {
    display: flex;
    
    span
    
    {
      padding: 0.375rem 0.75rem 0 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      border: 1px solid transparent;
      border-left: none;
    }
  }

  .actions {
    margin-top: 10px;
    font-size: 12px;
    color: $dark-gray;
    
    ul

    li {
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
    }

    .liked {
      color: $primary-color;
      font-weight: bold;
    }
  }

  .edit-comment-input-container {
    display: flex;
    flex: 1 1;
    
    .edit-comment-input {
      flex: 1 1;
      margin-right: 10px;
    }
   
    .edit-button {
      align-items: flex-end;
    }
  }
}

.dark-mode {

  .comment {

    border-bottom: 1px solid $dark-gray;
    &:last-of-type {
      border-bottom: none;
    }

    .author {
      color: $light-gray;
    }

    .text {
      color: $light-gray;
    }
  }
}