@import "./src/assets/scss/variables";

.app-header {
  width: 100%;
  height: $header-height;
  position: relative;
  background-color: $primary-color;

  .left-part {
    padding: 0;
  }

  .logo-container{
    max-width: 70px;
    display: inline-block;

    .app-logo {
      max-width: 70px;
      height: 50px;
      display: inline-block;
    }

 }


  nav {
    ul {
      display: flex;

      li {
        margin: 10px 5px;
        list-style: none;

        a {
          color: white;
          padding: 8px 5px 5px;
        }
      }
    }
  }

  .nav-profile{
    display: inline-block;
    li{
      display: inline-block;
      a {
        color: $body-color;
        text-decoration: none;
      }
    }
  }
}
