@import "./src/assets/scss/variables";
.btn.btn-info {
    color: white;
    background-color:  #1f3d58;
    padding: 11px;
    font-size: 16px;
    border: none;
    height: 50px;
    padding-bottom: 15px;
    
  }
  // .btn-info:hover{
  //   background-color: #23435f;
  // }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f3d58;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .notifications-list {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding: 1rem;

    li:nth-of-type(2){
        overflow-wrap: break-word;
        max-width: 200px
    }
  }
  
  .dropdown-content .notifications-list:hover {background-color: #23435f}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .icon{
        position: relative;
        font-size: 14px;
        top: -8px;
        right: -3px;
        border-radius: 2px;
        padding: 1px 3px;
        background-color: #fa3e3e;
        
       
    }