@import "./src/assets/scss/variables";

.app-footer {
  width: 100%;
  height: $header-height;
  position: relative;
  background-color: $primary-color;

   nav {
    ul {
      display: flex;
      flex-direction: row;
      float: right;

      li {
        margin: 10px 3px;
        list-style: none;

        a {
          color: white;
          padding: 10px 5px 5px;
          &:after {
            content: "|";
            padding-left: 30px;
          }
        }
      }
      
      li:last-child {
        a:after {
          display: none
        }
      }
    }
  }
}