@import "./src/assets/scss/variables";

.toggle-dark-mode {
  position: relative;
  margin-bottom: 20px;
  width: 25px;
  left: 30px;
  left: 168px;
  top: 12px;
  .light {
    color: white;
  }

  .dark {
    color: black;
  }
  .dark-mode-icon{
    position: relative;
    display: inline-block;
    cursor: pointer;
    
    .hint{
      visibility: hidden;
      width: 120px;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      left: 7px;
      top: 32px;
      &.light{
        background-color: white;
        color:black;
      }
      &.dark{
        background-color: black;
        color:white;
      }
    }
    &:hover{
      .hint{
        visibility: visible;
      }
    }
  }
}
