@import "./src/assets/scss/variables";

.content-container {
  width: calc(100% - #{$sidebar-width});
  padding: 20px 15px;
  .grid-mode{
    display: inline-block;
    margin-left: 23px;
    cursor: pointer;
  }
}
